.skillsButton1{
  margin: 5px;
  background-color: #19b9e7;
  border-color: #19b9e7;
  border-radius: 300px;
  color: white;
  border-color: #19b9e7;
  border: 0px solid;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  letter-spacing: 2px;
}


button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }


.customInput{
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 15px;
  color: #000;
  height: 40px;
  width: 300px;
}

.skillsButton{
  margin: 5px;
  background-color: #D3D3D3;
  color: white;
  border-color: white;
  border: 1px solid;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  letter-spacing: 2px;
}

